*, *::after, *::before {
    font-family: sans-serif;
    box-sizing: border-box;
}

html, body {
    --primary-dark-color: #FF5722;
    --primary-light-color: #C8E6C9;
    --primary-text-color: #212121;
    --light-text-color: #FFFFFF;
    --divider-color: #BDBDBD;
    --dark-divider-color: #757575;
    margin: 0;
    padding: 0;
    color: var(--primary-text-color);
}

/* TRUE CSS */

.main__container {
    max-width: 840px;
    height: 100vh;
    background-color: rgba(200, 200, 200, .13);
    margin: 0 auto;
    padding: 18px;
}

.title {
    margin: 0 0 20px 0;
    color: var(--primary-dark-color);
    /* border-bottom: 1px solid #BDBDBD; */
}


/* TAREAS FORM */
.form__container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 50px;
    border-left: 4px solid var(--primary-dark-color);
    padding: 20px 10px;
    overflow: hidden;
    background-color: var(--primary-light-color);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1), 0 1px 3px 0 rgba(0,0,0,.06);
}
.form__input, .form__button{
    font-size: 18px;
    border: none;
    outline: none;
    padding: 10px 18px;
}
.form__input {
    flex-grow: 1;
    flex-shrink: 1;
    background-color: transparent;
    transition: ease all .1s;
    min-width: 100px;
}
.form__input:focus {
    border-bottom: 2px solid var(--primary-dark-color);
}
.form__button {
    flex-shrink: 0;
    margin-left: 10px;
    background-color: var(--primary-dark-color);
    color: var(--primary-light-color);
    transition: ease all .1s;
    text-transform: uppercase;
    font-weight: 700;
}



/* TAREAS */
.tareas__container {
    transition: ease all 3s;
}
.tarea {
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: var(--primary-light-color);
    margin-bottom: 4px;
    font-size: 18px;
    overflow: hidden;
    border-left: 4px solid var(--primary-dark-color);
    animation: tarea_enter ease .3s;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1), 0 1px 3px 0 rgba(0,0,0,.06);
}
.tarea__check {
    margin-right: 8px;
    -webkit-appearance: none;
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border: 2px solid var(--primary-dark-color);
    border-radius: 50%;
    outline: none;
    flex-shrink: 0;
}
.tarea__check::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    flex-shrink: 0;
    border-left: 0 solid var(--primary-dark-color);
    border-bottom: 0 solid var(--primary-dark-color);
    transform: rotate(-48deg) translateX(10px) translateY(-2px);
    transition: ease all .1s;
}
.tarea__check:checked {
    border-width: 3px;
    border-color: var(--primary-dark-color);
}
.tarea__check:checked:before {
    border-width: 3px;
    width: 28px;
    height: 10px;
}
.tarea--completed {
    border-color: var(--divider-color);
    text-decoration: line-through;
    color: var(--divider-color);
    background-color: rgba(200, 200, 200, .13);
    transition: ease all .3s;
}
.tarea__content {
    flex-grow: 1;
    max-width: 100%;
    text-overflow: ellipsis;

}

.tarea__delete {
    -webkit-appearance: none;
    appearance: none;
    border: 0px solid;
    display: inline;
    opacity: 0;
    outline: none;
    background-color: transparent;
    transition: ease all .1s;
}
.tarea--completed .tarea__delete,
.tarea:hover .tarea__delete {
    opacity: 1;
}
.tarea__delete:before,
.tarea__delete:after {
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    flex-shrink: 0;
}
.tarea__delete:before {
    border-top: 2px solid rgba(77, 77, 77, 0.8);
    border-left: 2px solid rgba(77, 77, 77, 0.8);
    transform: rotate(45deg) translateY(10.1px) translateX(10.1px);
}
.tarea__delete:after {
    border-bottom: 2px solid rgba(77, 77, 77, 0.8);
    border-right: 2px solid rgba(77, 77, 77, 0.8);
    transform: rotate(45deg) translateY(-10.1px) translateX(-10.1px);
}
.tarea--deleted {
    animation: tarea_delete ease .3s;
}



/* MAIN FOOTER */
.main__footer {
    color: #757575;
    margin-top: 50px;
    border-top: 1px solid var(--divider-color);
}

/* KEYFRAMES */
@keyframes tarea_enter {
    from {
        opacity: 0;
        transform: translateY(-35px);
    }
}
@keyframes tarea_delete {
    to {
        opacity: 0;
        transform: translateX(120px);
        display: none;
    }
}