.item__check {
    --primary-dark-color: #A3BFFA;
    border-width: 12px;
    border-color: #ccc;
}
.item__check::before {
    content: "";
    display: block;
    width: 12px;
    height: 5px;
    flex-shrink: 0;
    border-top: none;
    border-right: none;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(-55deg) translateX(1px) translateY(-1px);
}
.item__check:checked {
    border-color: var(--primary-dark-color);
}

.item__completed {
    border-color: #ccc;
    box-shadow: none;
}
.item__completed .item__content {
    color: #ccc;
    text-decoration: line-through;
}